@model Student

@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<h1>Welcome to Privacy View</h1>
<p>@Model.Name</p>
<p>@Model.City</p>


